/* OUR COLORS
Primary black: #010101;
*/

/*------------------------*/
/* BASIC SETUP */
/*------------------------*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  letter-spacing: 0.02em;
}

/*------------------------*/
/* REUSABLE COMPONENTS */
/*------------------------*/
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 5%;
}

/* ----- HEADINGS ----- */
h2 {
  font-size: 145%;
  font-weight: 600;
  margin-bottom: 25px;
  position: relative;
}

h3 {
  font-size: 90%;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
}

h4 {
  font-weight: 400;
}

h6 {
  font-weight: 600;
}

.member-name {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
}

.skill-heading {
  background-color: #f1f1f1;
  text-align: center;
  padding: 8px 30px;
  color: #010101;
  font-size: 80%;
  border-radius: 6px;
  font-weight: 500;
}

/* ----- PARAGRAPHS ----- */
/* ----- LINKS ----- */
a {
  color: #010101;
  transition: opacity 0.2s;
}

a:hover {
  opacity: 0.5;
}

/*------------------------*/
/* HEADER */
/*------------------------*/
/*HAMBURGER MENU*/
/* Style the navigation menu */
.mobile-navigation {
  overflow: hidden;
  position: relative;
  margin: 40px auto;
}

.mobile-navigation .logotype {
  max-width: 230px;
}

.mobile-navigation-icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #000;
  border-radius: 6px;
}

.mobile-navigation-icon i {
  color: #fff;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.mobile-navigation .mobile-navigation-links {
  display: none;
}

/* Style navigation menu links */
.mobile-navigation a {
  color: #000;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Add a grey background color on mouse-over */
.mobile-navigation .mobile-navigation-icon:hover {
  color: black;
}

/* Style the active link (or home/logo) */
.mobile-navigation .mobile-navigation-link:active {
}

/*MAIN MENU*/
.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px auto;
}

.logotype {
  margin: auto 0px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-size: 125%;
  color: #fff;
  padding: 10px;
  background-color: #010101;
  border-radius: 6px;
  cursor: default;
}

.nav-items {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-item {
  padding-left: 20px;
}

.nav-item .link {
  font-size: 90%;
  font-weight: 500;
  text-decoration: none;
}

/*------------------------*/
/* SLIDESHOW SECTION */
/*------------------------*/
#slideshow-section {
}

.slideshow-container {
  position: relative;
  margin: auto;
}

.slide-text-container {
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide {
  display: none;
}

.slide-image {
  filter: brightness(50%);
  width: 100%;
}

.slide-heading {
  font-size: 270%;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: center;
}

.slide-paragraph {
  margin-top: 10px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #fff;
  font-weight: bold;
  font-size: 125%;
  border-radius: 0 3px 3px 0;
  user-select: none;
  transition: 0.2s ease;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  color: #000;
  background-color: rgba(243, 240, 240, 0.8);
  opacity: 1;
}

.play-icon,
.pause-icon {
  cursor: pointer;
  font-size: 125%;
  color: #fff;
  padding: 16px;
  border-radius: 8px;
  transition: 0.2s ease;
  position: absolute;

  top: 95%;
  left: 50%;
  transform: translate(-50%, -95%);
}

.play-icon:hover,
.pause-icon:hover {
  background-color: rgba(243, 240, 240, 0.8);
  color: #000;
}
.pause-icon {
  display: block;
}

.play-icon {
  display: none;
}

/*------------------------*/
/* TEAM SECTION */
/*------------------------*/
.team-section {
  padding-top: 100px;
}

.intro-box {
  text-align: center;
}

.intro-box-paragraph {
  max-width: 800px;
  margin: auto;
  margin-bottom: 20px;
}

.team-members {
  display: flex;
  justify-content: space-between;
}

.member {
  margin: 60px auto 0px auto;
}

.member-image {
  display: block;
  margin: 10px auto;
  border-radius: 100%;
}

.progress-section {
  margin-bottom: 40px;
}

.progress-container {
  margin: 10px auto;
}

.progress-bar-title {
  margin-bottom: 8px;
}

.progress-bar {
  background-color: #f1f1f1;
  border-radius: 16px;
}

.progress {
  text-align: center;
  width: 85%;
  background-color: #010101;
  color: rgb(255, 255, 255, 0.9);
  padding: 7px;
  font-size: 75%;
  font-weight: 500;
  border-radius: 16px;
}

/*------------------------*/
/* PROJECTS SECTION */
/*------------------------*/
.projects-section {
  margin: auto;
}

.projects-section-title {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 60px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 80px;
}

.project-box {
  max-width: 25%;
  flex: 25%;
  padding: 0 8px;
}

.project-image {
  vertical-align: middle;
  width: 100%;
}

.project-link {
  text-align: center;
  margin: auto;
  display: block;
  margin-bottom: 20px;
}

/*------------------------*/
/* CONTACT US SECTION */
/*------------------------*/
.contactus-section {
  padding-top: 80px;
  padding-bottom: 80px;
  margin: auto;
  background-color: #f1f1f1;
}

.contact-us-title {
  margin-bottom: 50px;
  text-align: center;
}

.contact-us-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  justify-content: center;
}

input,
textarea {
  margin-bottom: 10px;
  border-radius: 6px;
  padding: 20px 20px;
  border: 2px solid #d2d2d7;
}

textarea {
  padding: 20px 20px 60px 20px;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid #000;
}

.submit-button {
  padding: 10px 45px;
  display: block;
  margin-right: 0px;
  margin-left: auto;
  border-radius: 6px;
  background-color: #000;
  transition: opacity 0.1s;
  color: #fff;
  font-size: 15px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.submit-button:hover {
  opacity: 0.7;
}

.error-message {
  color: red;
  font-size: 14px;
  text-align: left;
  margin-bottom: 10px;
  display: none;
}

/*------------------------*/
/* FOOTER */
/*------------------------*/
.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.copyright-text {
  font-weight: 300;
  color: #000;
  opacity: 0.6;
  text-align: center;
  font-size: 14px;
}

/*------------------------*/
/* MEMBER PAGE */
/*------------------------*/
.member-page-heading {
  background-color: #f1f1f1;
  padding: 60px 0px;
}

.member-page-heading-text {
  text-align: center;
}

.member-page-section {
  margin: 80px auto;
  display: flex;
}

.member-page-section .progress-section {
  margin-top: 40px;
}

.member-page-section .two-third-column {
  width: 65%;
}

.member-page-section .one-third-column {
  width: 30%;
  margin-left: 5%;
  margin-top: -5%;
}

.member-page-name {
  margin-bottom: 30px;
}

.member-page-paragraph {
  margin-bottom: 20px;
}

.presentation-link {
  text-align: center;
  margin: auto;
  display: block;
}

/*------------------------*/
/* MEDIA QUERIES */
/*------------------------*/
/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  /*------------------------*/
  /* PROJECTS SECTION */
  /*------------------------*/
  .project-box {
    flex: 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  /*------------------------*/
  /* HEADER */
  /*------------------------*/
  .mobile-navigation {
    display: none;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  /*------------------------*/
  /* HEADER */
  /*------------------------*/
  .navigation-bar {
    display: none;
  }

  .slide-image {
    height: 500px;
    overflow: hidden;
  }

  /*------------------------*/
  /* TEAM SECTION */
  /*------------------------*/
  .team-members {
    justify-content: center;
    flex-wrap: wrap;
  }

  .projects-container {
    display: flex;
    flex-wrap: wrap;
  }

  /*------------------------*/
  /* PROJECTS SECTION */
  /*------------------------*/
  .project-box {
    flex: 50%;
    max-width: 50%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .slide-heading {
    width: 80vw;
  }

  /*------------------------*/
  /* TEAM SECTION */
  /*------------------------*/
  .team-members {
    flex-wrap: wrap;
  }

  .member {
    flex-basis: 48%;
  }

  /*------------------------*/
  /* PROJECTS SECTION */
  /*------------------------*/

  /*------------------------*/
  /* MEMBER PAGE */
  /*------------------------*/
  .member-page-section {
    display: flex;
    flex-wrap: wrap;
  }

  .member-page-section .two-third-column {
    width: 100%;
  }

  .member-page-section .one-third-column {
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}
